[submodule "deps/pugixml"]
	path = deps/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/Candle"]
	path = deps/Candle
	url = https://github.com/MiguelMJ/Candle.git
