[submodule "deps/pugixml"]
	path = deps/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/Candle"]
	path = deps/Candle
	url = https://github.com/MiguelMJ/Candle.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/imgui-sfml"]
	path = deps/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "deps/magic_enum"]
	path = deps/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "deps/stacktrace"]
	path = deps/stacktrace
	url = git@github.com:XummukProgrammer/stacktrace.git
